{% extends 'base.html' %}

{% load crispy_forms_tags %}



{% block content %}
<div class="mt-4 p-4 mx-auto">
    <div class="mt-4 p-4 mx-auto">
        <div class="mt-4 p-4">
<h1 class="text-center p-4">BECOME A PUBLISHER TODAY </h1>
        </div>
    </div>
</div>
<div class="mx-auto w-50">
<form method="post"  class="shadow-lg p-4 mt-5 bg-white rounded">
    {% csrf_token %}
    {{ author_form|crispy }}
    <div class="mx-auto text-center p-4">
    <button type="submit" class="btn btn-primary text-center">JOIN</button>
    </div>
</form>
</div>
    
{% endblock content %}
    